#header, #leftcolumn, #rightcolumn, #footer, #breadcrumbs,
#mainnav{
    display:none;
}

#wrapper{
    width: auto;
}

#floatwrapper, #contentwrapper, #wrapper, #centercolumn, #copy{
    position: absolute;
    padding: 0px;
    margin: 0px;
    width :105%;
}

table{
    table-layout:fixed;
    width: 100%;
}

tr{
    width: 100%;
}

td:first-child{
    width: 30px !important;
}

td{
    width: auto !important;
}

#copy{
    visibility: visible;
}

a{
    display:none;
}

select{
    width: auto !important;
    height:30px !important;
}

html, body, #aspnetForm{
    background-color: white;
    width: 0px !important;
}

*{
    font-size: 15px !important;
}

#ctl00_mainCopy_Aceptar{
    position: absolute;
    left: 11rem;
    padding: 10px;
    border-radius:20px;
    font-weight: 600;
}

[type="checkbox"]{
  height: 20px;
  width: 20px;
}