*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/app/src/main/res/values/secrets_tmp.xml
/app/google-services.json
.DS_Store
/build
/captures
.externalNativeBuild
app/release/app-release.aab
