*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
app/src/release/res/values/strings.xml
app/release/
/.idea/
/app/src/main/assets/grades_errors/**
/app/src/main/assets/profile_errors/**
/app/src/main/assets/schedule_errors/**
/app/src/main/assets/login_errors/**
/app/src/main/assets/captcha_errors/**
!/app/src/main/assets/grades_errors/.gitkeep
!/app/src/main/assets/profile_errors/.gitkeep
!/app/src/main/assets/schedule_errors/.gitkeep
!/app/src/main/assets/login_errors/.gitkeep
!/app/src/main/assets/captcha_errors/.gitkeep
