<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ziox.ramiro.saes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAESParaAlumnos">
        <activity
            android:name=".features.presentation.SAESActivity"
            android:exported="true"
            android:label="@string/title_activity_saesactivity"
            android:theme="@style/Theme.SAESParaAlumnos.NoActionBar" />
        <activity
            android:name=".presentation.SelectSchoolActivity"
            android:exported="true"
            android:label="@string/title_activity_select_school"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SAESParaAlumnos.NoActionBar" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SAESParaAlumnos.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>