<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ziox.ramiro.saes">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAESParaAlumnos">
        <activity
            android:name="ziox.ramiro.saes.features.saes.ui.screens.SAESActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/title_activity_saesactivity"
            android:theme="@style/Theme.SAESParaAlumnos.NoActionBar" />
        <activity
            android:name="ziox.ramiro.saes.ui.screens.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SAESParaAlumnos.NoActionBar" />
        <activity
            android:name="ziox.ramiro.saes.features.about.ui.screens.AboutActivity"
            android:exported="true"
            android:theme="@style/Theme.SAESParaAlumnos.NoActionBar" />
        <activity
            android:name=".ui.screens.SelectSchoolActivity"
            android:exported="true"
            android:label="@string/title_activity_select_school"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SAESParaAlumnos.NoActionBar" />
        <activity
            android:name=".ui.screens.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/Theme.SAESParaAlumnos.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>